<!--content -->
<section class="content">
    <h2>BIBFRAME Catalog</h2>
	<article class="col-1-2">
		<div class="wrapper pad_bot1">
			<figure class="left marg_right1"><a href="#"><img src="" alt=""></a></figure>
			<p class="pad_bot1"><strong class="color1">Library of Congress</strong></p>
			<p>
                         <a href="http://bibframe.org">BIBFRAME</a> is the Library of Congress's 
                         multi-year effort to replace the venerable MARC21
                         format with a Linked Data-based vocabulary made up of four fundamental classes:
                          <a href="http://bibframe.org/vocab/Work.html">Works</a>, 
                          <a href="http://bibframe.org/vocab/Instance.html">Instances</a>, 
                          <a href="http://bibframe.org/vocab/Annotation.html">Annotations</a>, 
                          <a href="http://bibframe.org/vocab/Authority.html">Authorities</a>. 
                         </p>
		</div>
		<div class="wrapper pad_bot1">
			<figure class="left marg_right1"><a href="#"><img src="images/page2_img2.png" alt=""></a></figure>
			<p class="pad_bot1"><strong class="color1">Search Display System RFQ</strong></p>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore euugiat nulla pariatur.</p>
		</div>
		<div class="wrapper pad_bot1">
			<figure class="left marg_left1" style="background-color: black">
                          <a href="http://weareinflux.com/">
                           <img src="{{ url_for('static', filename='images/influx_logo_sm.png') }}" alt=""></a>
                        </figure>
			<p class="pad_bot1"><strong class="color1">Influx Design</strong></p>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem- que laudantium, totam rem aperiam.</p>
		</div>
    	</article>
	<article class="col-1-2">
		<div class="wrapper pad_bot1">
			<figure class="left marg_right1"><a href="#"><img src="images/page2_img5.png" alt=""></a></figure>
			<p class="pad_bot1"><strong class="color1">Test Instance</strong></p>
			<p>Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
		</div>
		<div class="wrapper pad_bot1">
			<figure class="left marg_right1">
                         <a href="http://flask.pocoo.org"><img src="{{ url_for('static', filename='images/flask_logo_sm.png') }}" alt="Flask"></a>
                        </figure>
			<p class="pad_bot1"><strong class="color1">Flask Microframework</strong></p>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem- que laudantium, totam rem aperiam.</p>
		</div>
		<div class="wrapper pad_bot1">
			<figure class="left marg_right1"><a href="#"><img src="images/page2_img6.png" alt=""></a></figure>
			<p class="pad_bot1"><strong class="color1">BIBFRAME Datastore</strong></p>
			<p>Sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
		</div>
	</article>
</section>
<!--content end-->
