<!--content -->
<section class="content">
    <article class="col-3-4" style="background-color: white">
	<img src="http://intro2libsys.info/static/img/catalog-pull-platform.svg">
	<div class="wrap-col">
	<h2>Catalog Pull Platform &amp; Projects</h2>
	<div class="wrapper pad_bot1">
	    <p class="pad_bot1">About<br>
	      <strong class="color1">Pull vs. Push Demand</strong>
            </p>
	    <p>
              Instead of trying to perfectly predict how patrons, staff, and 
              institutional administration's demands for information resources 
              and services, the <a href="#page_2">catalog pull platform</a> 
              focuses on building fast, loosely coupled networked web tools 
              that are iteratively developed using processes and techniques 
              from AGLE and Lean startup's Build-Measure-Learn cycles (Ries, 2011). 
            </p>
            <p>
              In the Catalog Pull Platform is that sophisticated tools emerge over time starting 
              with a Minimum Viable Product that is then incrementally improved 
              with direct testing and feedback from the participants in the pull platform.
            </p>

Critical to pull platforms is the idea that new ideas and experiments are encouraged with negligible barriers for use by participants and that these new ideas and processes are easily communicated to other participants in the platform.

	</div>
	<div class="wrapper">
	    <p class="pad_bot1">Active Projects<br>
	    <strong class="color1">Library of Congress BIBFRAME Catalog, Colorado College</strong></p>
	    <p>
			This <a href="http://blog.templatemonster.com/2011/05/23/free-website-template-for-efficient-business-project/" target="_blank">Business Template</a> goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD source is available for anyone without registration).</p>
</div>
	</div>
</article>
<article class="col-1-4">
	<div class="wrap-col">
	<h2>Active &amp; Archived Projects</h2>
	<ul class="list1">
		<li><a href="https://github.com/jermnelson/bibframe-catalog">BIBFRAME Catalog</a></li>
		<li><a href="https://github.com/jermnelson/BIBFRAME-Datastore">BIBFRAME Datastore</a></li>
		<li><a href="https://github.com/jermnelson/semantic-server">Semantic Server</a></li>
		<li><a href="https://github.com/Tutt-Library/tiger-catalog">Colorado College TIGER Catalog</a></li>
                <li><a href="https://github.com/jermnelson/schema-org-editor">Schema.org Web Editor</a></li>
		<li><a href="https://github.com/Islandora/Islandora-eBadges-Repository">Islandora.ca eBadges Repository</a></li>
		<li><a href="https://github.com/Tutt-Library/rda-enhancement">RDA MARC21 Enhancement Project</a></li>
		<li><a href="#">September ‘10</a></li>
		<li><a href="#">August ’10</a></li>
		<li><a href="#">July ‘10</a></li>
	</ul>
	</div>
</article>
</section>
<!--content end-->
