<!--content -->
<section class="content">
    <div class="col-full">
	<p class="font1 pad_bot1 pad_top1"><strong>What is a Pull Platform?</strong></p>
	<p>Aliquam molestie, mi et imperdiet euismod, dui purus auctor tellus, et interdum lacus lectus et ante. Sed accumsan sollicitudin sapien, sit amet adipiscing turpis gravida ac. In congue, neque ac lobortis volutpat, libero mauris varius mi, vitae suscipit ipsum ligula vitae risus. Duis aliquam nibh a dui iaculis viverra id a velit. Vivamus egestas risus in magna varius commodo. Sed semper viverra egestas. Etiam pretium porttitor lectus, vel ornare neque porta volutpat.</p>
	<p class="font1 pad_bot1"><strong>What is Linked Data?</strong></p>
	<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut et scelerisque ante. Donec erat purus, faucibus vitae congue vel, porttitor nec lectus. Aenean a nibh eget turpis vehicula tempus ac sed massa. Vestibulum dolor nulla, ultrices ac tincidunt sed, laoreet non est. Suspendisse lobortis turpis in odio blandit ac interdum lorem euismod. Etiam risus massa, vulputate eu pellentesque et, consectetur a neque. </p>
	<p class="font1 pad_bot1"><strong>What are the future plans for the Catalog Pull Platform?</strong></p>
	<p>Vestibulum vel metus sit amet turpis bibendum tincidunt vel sit amet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc consequat congue nulla eu imperdiet. Donec in est erat, id malesuada turpis. Nunc a dui id turpis convallis semper. Nunc dignissim lectus vitae eros placerat euismod. Aenean lacinia sodales eros, sit amet molestie enim consectetur eget. Sed vel magna vel eros adipiscing adipiscing eu sit amet turpis. Mauris et massa sed lacus tempus pellentesque.</p>
	<p class="font1 pad_bot1"><strong>Do you have a shameless book plug?</strong></p>
        <p>Yes, Jeremy Nelson and Chandoes Publishing are in post-production on a book,
          <a href="http://becomingleanlibrary.com"><em>Becoming a Lean Library: Lessons from the World of Start-ups</em></a> 
           that goes into much 
           more detail on the Catalog Pull Platform, Build-Measure-Learn loops, and other 
           lean manufacturing and lean start-up ideas and concepts as applied to libraries and other 
           cultural heritage organizations.
        </p>
    </div>
</section>
<!--content end-->

