<!--content -->
<p class="abstract">
 The <a href="https://github.com/jermnelson/semantic-server">Semantic Server</a> is 
 an open-source REST API wrapper that seamlessly interfaces to RDF entities stored as subject graphs in Fedora 4,
 expanded and enriched search through Elastic Search, supported by a full SPARQL endpoint using
 Fuseki.
</p>
<section class="content">
    <article class="col-1-3">
	<div class="wrapper pad_top1 pad_bot2">
	    <figure class="pad_bot3">
	      <a href="#"><img src="{{ url_for('static', filename='images/fedora4_logo.png') }}" alt=""></a>
	    </figure>
			<p class="pad_bot1"><strong class="font1">Fedora Commons</strong></p>
			<p class="pad_bot3">The core of the semantic server is Fedora Commons version 4 Repository.
                         Fedora's primary use in the Semantic Server is as a Linked Data Platform.
                         Linked Data is stored and managed as subject RDF graphs in Fedora 4, with the 
                         most work done with using BIBFRAME and Schema.org vocabularies.
                        </p>
			<a href="http://fedora-commons.org/" class="button">website</a>
		</div>
		<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3">

                            <a href="http://www.elasticsearch.org/">
                              <img src="{{ url_for('static', filename='images/es-fuseki.png') }}" alt="Elastic search">
                            </a>
                         </figure>
			<p class="pad_bot1"><strong class="font1">Elastic Search &amp; Fuseki</strong></p>
			<p class="pad_bot3">Elastic Search is used for real-time search by indexing the JSON-LD serialization of 
                         the RDF subject graphs stored in Fedora. </p>
			<a href="http://www.elasticsearch.org/" class="button">website</a>
		</div>
    </article>
    <article class="col-1-3">
	<div class="wrapper pad_top1 pad_bot2">
	    <figure class="pad_bot3">
                <a href="http://falconframework.org/">
                  <img src="{{ url_for('static', filename='images/falcon_logo.png') }}" alt="Falcon" style="height: 140px"></a>
            </figure>
		<p class="pad_bot1"><strong class="font1">Falcon</strong></p>
		<p class="pad_bot3">Falcon is an open-source Python framework for building Cloud APIs following a REST architectural style.
                Falcon is sponsored and used by <a href="http://www.rackspace.com/">Rackspace</a>. The Semantic Server uses Falcon to 
                build a REST API for consistent and simple interface to Fedora, Elastic Search, and Fuseki.</p>
		<a href="http://falconframework.org/" class="button">website</a>
	</div>
	<div class="wrapper pad_top1 pad_bot2">
		<figure class="pad_bot3"><a href="#"><img src="{{ url_for('static', filename='images/page3_img4.jpg') }}" alt=""></a></figure>
		<p class="pad_bot1"><strong class="font1">Next steps</strong></p>
		<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
		<a href="#" class="button">read more</a>
	</div>
    </article>
    <article class="col-1-3">
        <h2>Using the Semantic Server</h2>
	{#	<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3"><a href="#"><img src="{{ url_for('static', filename='images/bf-logo.png') }}" alt=""></a></figure>
			<p class="pad_bot1"><strong class="font1">BIBFRAME Catalog &amp; Datastore</strong></p>
			<p class="pad_bot3">
                         The BIBFRAME Catalog directly uses the BIBFRAME Datastore's REST API that 
                          extends the <a href="#page_4">Semantic Server's</a> 
                         REST APIs for analytics, CRUD, and machine learning operations on the underlying Fedora 4, Elastic Search, 
                         and Fuseki services.
                        </p>
			<a href="https://github.com/jermnelson/BIBFRAME-Datastore" class="button">Github</a>
		</div>#}
		<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3"><a href="#"><img src="{{ url_for('static', filename='images/tiger-logo.png') }}" alt=""></a></figure>
			<p class="pad_bot1"><strong class="font1">Colorado College's TIGER Catalog</strong></p>
			<p class="pad_bot3">
                         As an ongoing experiment for replacing Colorado College's legacy ILS, the first
                         <a href="http://catalog.coloradocollege.edu">TIGER Catalog Minimum Viable Product</a> was released in 2014 using
                         Aaron Schmidt's design outlined in a <a href="#">blog posting</a>. This first iteration uses 
                         <a href="http://flask.pocoo.org/">Flask</a>, <a href="">Solr</a>, with all of Colorado College's MARC21 records
                         serialized as JSON documents in <a href="">MongoDB</a>.
                        </p>
                        <p>
                         Current TIGER development is pivoting to the Semantic Server for improving the operations and analytics 
                         for assessment, discoverable, and accessibility of Colorado College
                         Library's collections stored currently as MARC records, Fedora 3 digital repositories, and a large number 
                         of journal databases and resources. 
                        </p>
			<a href="http://catalog.coloradocollege.edu" class="button">Website</a>
                	<a href="https://github.com/Tutt-Library/tiger-catalog/" class="button">Github</a>

		</div>

		<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3"><a href="#"><img src="{{ url_for('static', filename='images/islandora-badges.png') }}" alt=""></a></figure>
			<p class="pad_bot1"><strong class="font1">Islandora eBadges</strong></p>
			<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
			<a href="#" class="button">Github</a>
		</div>
		<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3"><a href="#"><img src="images/page3_img6.jpg" alt=""></a></figure>
			<p class="pad_bot1"><strong class="font1">Colorado College Fedora 3.+/Islandora Migration</strong></p>
			<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
			<a href="https://github.com/Tutt-Library/migration.git" class="button">Github</a>
		</div>

    </article>
</section>
<!--content end-->
