<!--content -->
<section class="content">
    <article class="col-1-3">
	<div class="wrapper pad_top1 pad_bot2">
	    <figure class="pad_bot3">
	      <a href="#"><img src="{{ url_for('static', filename='images/fedora4_logo.png') }}" alt=""></a>
	    </figure>
			<p class="pad_bot1"><strong class="font1">Fedora Commons</strong></p>
			<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
			<a href="#" class="button">read more</a>
		</div>
		<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3"><a href="#"><img src="images/page3_img2.jpg" alt=""></a></figure>
			<p class="pad_bot1"><strong class="font1">Elastic Search</strong></p>
			<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
			<a href="#" class="button">read more</a>
		</div>
    </article>
    <article class="col-1-3">
	<div class="wrapper pad_top1 pad_bot2">
	    <figure class="pad_bot3">
                <a href="#"><img src="{{ url_for('static', filename='images/falcon_logo.png') }}" alt=""></a>
            </figure>
		<p class="pad_bot1"><strong class="font1">Falcon</strong></p>
		<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
		<a href="#" class="button">read more</a>
	</div>
	<div class="wrapper pad_top1 pad_bot2">
		<figure class="pad_bot3"><a href="#"><img src="{{ url_for('static', filename='images/page3_img4.jpg') }}" alt=""></a></figure>
		<p class="pad_bot1"><strong class="font1">Fuseki</strong></p>
		<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
		<a href="#" class="button">read more</a>
	</div>
    </article>
    <article class="col-1-3">
		<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3"><a href="#"><img src="images/page3_img5.jpg" alt=""></a></figure>
			<p class="pad_bot1"><strong class="font1">BIBFRAME Datastore</strong></p>
			<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
			<a href="#" class="button">read more</a>
		</div>
		<div class="wrapper pad_top1 pad_bot2">
			<figure class="pad_bot3"><a href="#"><img src="images/page3_img6.jpg" alt=""></a></figure>
			<p class="pad_bot1"><strong class="font1">Islandora eBadges</strong></p>
			<p class="pad_bot3">Nemo enim ipsam voluptatem voluptas sit aspernatur aut oditaut.</p>
			<a href="#" class="button">read more</a>
		</div>
    </article>
</section>
<!--content end-->
