<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/zerogrid.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.5.2.js') }}" ></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/cufon-yui.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/cufon-replace.js') }}"></script>  
  		<script type="text/javascript" src="{{ url_for('static', filename='js/Amaranth_400.font.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/scroll.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/atooltip.jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/css3-mediaqueries.js') }}"></script>

  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.bg{ behavior: url(js/PIE.htc); }
	</style>
  <![endif]-->
	<!--[if lt IE 7]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
		</div>
	<![endif]-->

</head>

<body>
<div class="header">
<div class="extra">
	<div id="page_1">
		<div class="main zerogrid">
			<!--header -->
			<header>
				<a href="index.html" id="logo">BIBFRAME Catalog. Display. Search</a>
				<nav>
					<ul id="menu">
						<li class="nav1"><a href="#page_2">CPP</a></li>
						<li class="nav2"><a href="#page_3">Catalog</a></li>
						<li class="nav3"><a href="#page_4">Semantic Server</a></li>
						<li class="nav4"><a href="#page_5">FAQ</a></li>
						<li class="nav5"><a href="#page_6">Contacts</a></li>
					</ul>
				</nav>
			</header>
			<!--header end-->
			<div class="ic">More Website Templates at TemplateMonster.com and Zerotheme.com</div>
		</div>
		<div class="block"></div>
	</div>
</div>
	<div class="main zerogrid">
			<!--footer -->
			<footer>
				<ul class="icons">
					<li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Delicious"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Stumble Upon"><img src="images/icon3.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Twitter"><img src="images/icon4.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Linkedin"><img src="images/icon5.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Reddit"><img src="images/icon6.jpg" alt=""></a></li>
				</ul>
			</footer>
			<!--footer end-->
	</div>
</div>
{% import 'snippets/header.html' as header %}
<div class="extra">
	<div id="page_2">
		<div class="main zerogrid">
                {{ header.generate(2) }}
                {% include 'snippets/cpp.html' %}
		</div>
		<div class="block"></div>
	</div>
</div>
	<div class="main zerogrid">
			<!--footer -->
			<footer>
				<ul class="icons">
					<li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Delicious"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Stumble Upon"><img src="images/icon3.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Twitter"><img src="images/icon4.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Linkedin"><img src="images/icon5.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Reddit"><img src="images/icon6.jpg" alt=""></a></li>
				</ul>
			</footer>
			<!--footer end-->
	</div>
<div class="extra">
	<div id="page_3">
		<div class="main zerogrid">
                {{ header.generate(3) }}
                {% include 'snippets/bibframe-catalog.html' %}
		</div>
		<div class="block"></div>
	</div>
</div>
	<div class="main zerogrid">
			<!--footer -->
			<footer>
				<ul class="icons">
					<li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Delicious"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Stumble Upon"><img src="images/icon3.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Twitter"><img src="images/icon4.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Linkedin"><img src="images/icon5.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Reddit"><img src="images/icon6.jpg" alt=""></a></li>
				</ul>
			</footer>
			<!--footer end-->
	</div>
<div class="extra">
	<div id="page_4">
		<div class="main zerogrid">
                {{ header.generate(4) }}
                {% include 'snippets/semantic-server.html' %}
		</div>
		<div class="block"></div>
	</div>
</div>
	<div class="main zerogrid">
			<!--footer -->
			<footer>
				<ul class="icons">
					<li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Delicious"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Stumble Upon"><img src="images/icon3.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Twitter"><img src="images/icon4.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Linkedin"><img src="images/icon5.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Reddit"><img src="images/icon6.jpg" alt=""></a></li>
				</ul>
			</footer>
			<!--footer end-->
	</div>
<div class="extra">
	<div id="page_5">
		<div class="main zerogrid">
                 {{ header.generate(5) }}

			<!--content -->
			<section class="content">
				<div class="col-full">
					<p class="font1 pad_bot1 pad_top1"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan, elit a suscipit sagittis, tortor sapien cursus risus, non rhoncus lectus nunc ac nulla?</strong></p>
					<p>Aliquam molestie, mi et imperdiet euismod, dui purus auctor tellus, et interdum lacus lectus et ante. Sed accumsan sollicitudin sapien, sit amet adipiscing turpis gravida ac. In congue, neque ac lobortis volutpat, libero mauris varius mi, vitae suscipit ipsum ligula vitae risus. Duis aliquam nibh a dui iaculis viverra id a velit. Vivamus egestas risus in magna varius commodo. Sed semper viverra egestas. Etiam pretium porttitor lectus, vel ornare neque porta volutpat.</p>
					<p class="font1 pad_bot1"><strong>Nam fermentum vestibulum purus id aliquet. Phasellus dui ante, ultricies et sollicitudin pretium, fermentum vel velit?</strong></p>
					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut et scelerisque ante. Donec erat purus, faucibus vitae congue vel, porttitor nec lectus. Aenean a nibh eget turpis vehicula tempus ac sed massa. Vestibulum dolor nulla, ultrices ac tincidunt sed, laoreet non est. Suspendisse lobortis turpis in odio blandit ac interdum lorem euismod. Etiam risus massa, vulputate eu pellentesque et, consectetur a neque. </p>
					<p class="font1 pad_bot1"><strong>Aliquam ullamcorper tempor felis, nec condimentum odio aliquet vitae. Morbi iaculis fringilla gravida?</strong></p>
					<p>Vestibulum vel metus sit amet turpis bibendum tincidunt vel sit amet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc consequat congue nulla eu imperdiet. Donec in est erat, id malesuada turpis. Nunc a dui id turpis convallis semper. Nunc dignissim lectus vitae eros placerat euismod. Aenean lacinia sodales eros, sit amet molestie enim consectetur eget. Sed vel magna vel eros adipiscing adipiscing eu sit amet turpis. Mauris et massa sed lacus tempus pellentesque.</p>
				</div>
			</section>
			<!--content end-->
		</div>
		<div class="block"></div>
	</div>
</div>
	<div class="main zerogrid">
			<!--footer -->
			<footer>
				<ul class="icons">
					<li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Delicious"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Stumble Upon"><img src="images/icon3.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Twitter"><img src="images/icon4.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Linkedin"><img src="images/icon5.jpg" alt=""></a></li>
					<li><a href="#" class="normaltip" title="Reddit"><img src="images/icon6.jpg" alt=""></a></li>
				</ul>
			</footer>
			<!--footer end-->
	</div>
<div class="extra2">
	<div id="page_6">
		<div class="main zerogrid">
                 {{ header.generate(6) }}
			<!--content -->
			<section class="content">
				<article class="col-1-3">
					<h2>Miscellaneous Info</h2>
					<p>Lorem ipsum dolor sit amet, consect- etuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam.</p>
					<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut- pat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam.</p>
        		</article>
				<article class="col-1-3">
					<h2>Contact Form</h2>
					<form id="ContactForm" method="post">
							<div>
								<div class="wrapper"><input class="input" type="text" value="Name:"  onblur="if(this.value=='') this.value='Name:'" onFocus="if(this.value =='Name:' ) this.value=''" ></div>
								<div class="wrapper"><input class="input" type="text" value="Email:"  onblur="if(this.value=='') this.value='Email:'" onFocus="if(this.value =='Email:' ) this.value=''" ></div>
								<div class="wrapper"><input class="input" type="text" value="Fax:"  onblur="if(this.value=='') this.value='Fax:'" onFocus="if(this.value =='Fax:' ) this.value=''"></div>
								<div class="textarea_box"><textarea cols="1" rows="1" onBlur="if(this.value=='') this.value='Message:'" onFocus="if(this.value =='Message:' ) this.value=''"  >Message:</textarea></div>
								<a href="javascript:" class="button" onClick="document.getElementById('ContactForm').reset()">clear</a>
								<a href="javascript:" class="button" onClick="document.getElementById('ContactForm').submit()">send</a>
							</div>
					</form>
        		</article>
				<article class="col-1-3">
					<h2>Our Location</h2>
					<p>Company Name Inc. 8901 Marmora<br>
							Road,Glasgow, D04 89GR.</p>
					<p> <span class="right">+1 800 559 6580</span><strong class="color1">Freephone:</strong><br>
						<span class="right">+1 959 603 6035</span><strong class="color1">Telephone:</strong><br>
						<span class="right">+1 101 889 9898</span><strong class="color1">FAX:</strong><br>
						<span class="right"><a href="mailto:">mail@business.com</a></span>	<strong class="color1">E-mail:</strong></p>
        		</article>
			</section>
			<!--content end-->
		</div>
		<div class="block2"></div>
	</div>
</div>
	<div class="main zerogrid">
			<!--footer -->
			<footer class="footer_end">
				<div class="wrapper">
					<ul class="icons">
						<li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Delicious"><img src="images/icon2.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Stumble Upon"><img src="images/icon3.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Twitter"><img src="images/icon4.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Linkedin"><img src="images/icon5.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Reddit"><img src="images/icon6.jpg" alt=""></a></li>
					</ul>
				</div>
				<a rel="nofollow" href="http://www.templatesmonster.com/" target="_blank">Free HTML5 Templates</a> designed by TemplateMonster.com<br><a rel="nofollow" href="http://www.zerotheme.com/432/free-responsive-html5-css3-website-templates.html" target="_blank">Free Responsive Themes</a> designed by <a href="http://www.zerotheme.com" target="_blank">Zerotheme.com</a>
			</footer>
			<!--footer end-->
	</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
